
</div>

<footer class="bg-light text-center text-lg-start ">
    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: #0F3D3E; color: #FFFFFF;">
      © 2022, Copyright:
      <a class="text" href="#" style="color: #FFFFFF;">Tanishq Bhatt</a>
      
    </div>
    <!-- Copyright -->
  </footer>
</body>

</html>