
<div class="navbar-div">
    <nav class="navbar-nav navbar navbar-expand-lg navbar-light" style="background-color: #0F3D3E;">
        <div class="container-fluid">
          <a class="navbar-brand" href="/" style="font-size: 1.5rem;color: #FFFFFF;">Mini Blogs</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 mr-auto">
              <li class="nav-item">
                <a class="nav-link" href="/" style="color: #FFFFFF;">Home</a>
              </li>
                <a class="nav-link active" aria-current="page" href="/featured" style="color: #FFFFFF;">Featured</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/newblog" style="color: #FFFFFF;">New Blog</a>
              </li>


              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"aria-haspopup="true" aria-expanded="false" style="color: #FFFFFF;">
                  Dropdown
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <li><a class="dropdown-item" href="/newblog">New Blog</a></li>
                  <li><a class="dropdown-item" href="#">Another action</a></li>
                </ul>
              </li>

              <li class="nav-item">
                <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true" style="display:none;">Disabled</a>
              </li>
            </ul>
            
            <form action="/search" method="post" class="d-flex">              
              <label for="search"></label>
              <input type="text" id="search" class="form-control me-sm-2 mr-sm-2" placeholder="Search" name="search">
              <button class="btn btn-outline-success my-2 my-sm-0" type="submit" style="color: #FFFFFF; border-color: #FFFFFF; ">Search</button>
            </form>
          </div>
        </div>
      </nav>
</div>

<div class="blogbody">


<!-- 
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Link</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Dropdown
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Something else here</a>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="#">Disabled</a>
        </li>
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>
    </div>
  </nav> -->